@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --primary-color: #118AB2;
    --black: #000000;
    --grey: #B7B7A4;
    --white: #FFFFFF;
  }

.App {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

.noBgBtn {
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  color: var(--white);
}